In [2]:
import pandas as pd
import numpy as np

In [13]:
data=pd.read_excel("Dataset_w6.xlsx")
data

,country,Region,Surface area (km2),Population in thousands (2017),GDP per capita (current US$),Agricultural production index,International trade: Imports (million US$)
0,Afghanistan,SouthernAsia,652864.0,35530.0,623.2,125.0,3568.0
1,Albania,SouthernEurope,28748.0,2930.0,3984.2,134.0,4669.0
2,Algeria,NorthernAfrica,2381741.0,41318.0,4154.1,160.0,47091.0
3,Angola,MiddleAfrica,1246700.0,29784.0,4714.1,175.0,8790.0
4,Antigua and Barbuda,Caribbean,442.0,102.0,14764.5,88.0,491.0
...,...,...,...,...,...,...,...
191,Venezuela (Bolivarian Republic of),SouthAmerica,912050.0,31977.0,11068.9,118.0,16324.0
192,Viet Nam,South-easternAsia,330967.0,95541.0,2067.9,136.0,174111.0
193,Yemen,WesternAsia,527968.0,28250.0,1106.4,136.0,6861.0
194,Zambia,EasternAfrica,752612.0,17094.0,1311.1,179.0,7442.0
195,Zimbabwe,EasternAfrica,390757.0,16530.0,890.4,99.0,5212.0

In [4]:
data["country"].count()

196

In [5]:
df=data.groupby("Region").count()

In [6]:
data.groupby('Region')['country'].count()

Region
Caribbean            16
CentralAmerica        8
CentralAsia           5
EasternAfrica        17
EasternAsia           7
EasternEurope        10
Melanesia             5
Micronesia            4
MiddleAfrica          9
NorthernAfrica        5
NorthernAmerica       4
NorthernEurope       10
Oceania               2
Polynesia             5
South-easternAsia    11
SouthAmerica         12
SouthernAfrica        5
SouthernAsia          9
SouthernEurope       12
WesternAfrica        15
WesternAsia          18
WesternEurope         7
Name: country, dtype: int64

In [7]:
df1=data.groupby('Region')['GDP per capita (current US$)'].mean()

In [8]:
df1

Region
Caribbean            15135.562500
CentralAmerica        6348.137500
CentralAsia           4329.880000
EasternAfrica         2088.852941
EasternAsia          27967.614286
EasternEurope         9292.490000
Melanesia             9261.960000
Micronesia            5008.300000
MiddleAfrica          3928.833333
NorthernAfrica        3934.960000
NorthernAmerica      57659.000000
NorthernEurope       42098.220000
Oceania              44823.250000
Polynesia             8686.520000
South-easternAsia    10299.027273
SouthAmerica          8499.775000
SouthernAfrica        4191.900000
SouthernAsia          2968.400000
SouthernEurope       14462.741667
WesternAfrica         1013.140000
WesternAsia          17013.938889
WesternEurope        55387.128571
Name: GDP per capita (current US$), dtype: float64

In [9]:
df1.idxmax()

'NorthernAmerica'

In [10]:
df1["NorthernAmerica"]

57659.0

In [11]:
top=data.groupby('Region')['International trade: Imports (million US$)'].mean().sort_values(ascending=False).head(1)
top

Region
NorthernAmerica    663552.25
Name: International trade: Imports (million US$), dtype: float64

In [12]:
consis=data.groupby('Region')['GDP per capita (current US$)'].var().sort_values(ascending=False).head(1)
consis

Region
EasternAsia    7.554319e+08
Name: GDP per capita (current US$), dtype: float64