In [18]:
import pandas as pd
from scipy.stats import ttest_ind
data=pd.read_csv('dataset w7.csv')

In [19]:
mn=data['Total Marks'].mean()

In [20]:
mn

32.32142857142857

In [21]:
mn1=data.groupby('Gender')['Total Marks'].mean()
mn1

Gender
female    33.750000
male      30.416667
Name: Total Marks, dtype: float64

In [22]:
mdn=data.groupby('Gender')['Total Marks'].median()
mdn

Gender
female    39.0
male      29.0
Name: Total Marks, dtype: float64

In [23]:
data.describe()

       Total Marks
count    28.000000
mean     32.321429
std      12.454520
min      12.000000
25%      22.500000
50%      33.000000
75%      43.250000
max      50.000000

In [24]:
data['Gender'].describe()

count         28
unique         2
top       female
freq          16
Name: Gender, dtype: object

In [25]:
data['Gender'].value_counts()

female    16
male      12
Name: Gender, dtype: int64

In [26]:
data.groupby('Gender')['Test preparation'].value_counts()

Gender  Test preparation
female  none                12
        completed            4
male    none                 9
        completed            3
Name: Test preparation, dtype: int64

In [27]:
data.groupby('Test preparation')['Total Marks'].mean()

Test preparation
completed    44.571429
none         28.238095
Name: Total Marks, dtype: float64

In [28]:
data.groupby('Gender')['Total Marks'].mean()

Gender
female    33.750000
male      30.416667
Name: Total Marks, dtype: float64

In [29]:
Male = data[data["Gender"]== "male"][["Total Marks"]]
Female = data[data["Gender"]== "female"][["Total Marks"]]
t_score,p_value = ttest_ind(Male,Female)
print('result =:',t_score,p_value)

if (p_value > a):
    print( "accept ")
else:
    print("rejected ")

result =: [-0.69408853] [0.49378223]
accept

In [30]:
a = .05
TestPrep_Male = data[data["Test preparation"]=="completed"][["Total Marks"]]
TestPrep_Female = data[data["Test preparation"]=="none"][["Total Marks"]]
t_score,p_value2 = ttest_ind(TestPrep_Male,TestPrep_Female)
print('result =:',t_score,p_value2)

if (p_value2 > a):
    print('accept ')
else:
    print("rejected")

result =: [3.61436375] [0.00126713]
rejected